.background-image-container {
    background-image: url('../media/moon-bg.jpg'); /* Add your image path */
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    position: relative; /* Allows child content to be positioned inside */
    display: flex;
    align-items: center; /* Vertically centers content */
    justify-content: center; /* Horizontally centers content */
}

.bottom-title {
    position: absolute;
    top: 75%;
}