{% extends "moving-letters.html" %}
{% load static %}

{% block title %}
Home | Learn Django
{% endblock %}

{% block content %}
<div>
    <img class="background-image-cover" src="{% static "images/moon-bg.jpg" %}" alt="">
    <div class="align-center text-center">
        <div class="bottom-title">
            <h1 class="ml11">
                <span class="text-wrapper text-white">
                    <span class="line line1"></span>
                    <span class="letters">Let's Learn Django</span>
                </span>
            </h1>
        </div>
        <div class="text-dark">
            <a href="{% url "topics" %}"        class="btn btn-light mx-2">Explore</a>
            <a href="{% url "create-topic" %}"  class="btn btn-light mx-2">Contribute</a>
        </div>
    </div>
</div>
{% endblock %}