{% extends "moving-letters.html" %}
{% load static %}

{% block title %}
{{topic.title}} | Learn Django
{% endblock %}

{% block content %}
<div class="bg-dark text-white">
    <img src="{{topic.image.url}}" class="d-block" style="object-fit: cover; width: 100%; height: 50vh;" alt="...">
    <div class="container align-center text-center">
        <h1 class="ml11">
            <span class="text-wrapper text-white">
                <span class="line line1"></span>
                <span class="letters">{{topic.title}}</span>
            </span>
        </h1>
        <p>{{topic.description}}</p>
    </div>
</div>
{% endblock %}